@using Sistema_de_Calificaciones.Models
@model Alumnos
@{
    ViewBag.Title = "CreateOrEditAlumnos";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>Agregar Alumno</h2>
            </center>
            <br />

            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.IdAlumno)
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Nombre:
                </label>
                @Html.TextBoxFor(x => x.NombreAlumno, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NombreAlumno, null, htmlAttributes: new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <label class="control-label">
                    Nombre:
                </label>
                @Html.TextBoxFor(x => x.CodigoAlumno, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CodigoAlumno, null, htmlAttributes: new { @class = "text-danger"})
            </div>

            <div class="form-group">
                <center>
                    <input type="submit" value="Guardar" />
                </center>
            </div>

        </div>
            }
        </div>
    </div>
</div>

